:host {
  display: inline-block;
}

button {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
}
