.example-panel-red .owl-select-options-wrapper {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green .owl-select-options-wrapper {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue .owl-select-options-wrapper {
  background: rgba(0, 0, 255, 0.5);
}