<ul class="game-trivia-achievements-list">
    <li *ngFor="let achievement of achievements" class="game-trivia-achievement">
        <img class="game-trivia-achievement-image" src="assets/images/games/trivia/{{achievement.img}}">
        <div class="game-trivia-achievement-inform">
            <div class="game-trivia-achievement-inform-header">
                {{achievement.name}} (+{{achievement.points}})
            </div>
            <div class="game-trivia-achievement-inform-subheader">{{achievement.description}}</div>
        </div>
    </li>
</ul>
