$process-bar-color: #e91e63;

.route-process-bar-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 4px;
  background: rgba(0, 0, 0, .2);

  .route-process-bar {
    width: inherit;
    height: inherit;
    background: $process-bar-color;
    box-shadow: 0 0 10px 0 rgba($process-bar-color, 0.5);
    transform-origin: top left;
    transition: transform 200ms ease;
    transform: scaleX(0);
  }
}
