@import "base/variables";
@import "base/breakPoints";

body {
  font-size: $base-font-size;
  color: $base-font-color;
}

.layout-top-bar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $topbar-height;
  background: $header-bg $header-bg-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  color: $header-font-color;
  z-index: 10;
}

.layout-content-wrapper {
  height: auto;
  box-sizing: border-box;
  z-index: 1;
  transition: margin 400ms cubic-bezier(.25, .8, .25, 1);

  .layout-content {
    padding: $topbar-height 0 0;
    min-height: 100vh;
    box-sizing: border-box;
  }
}

/*
  Side Panel
*/
.layout-side-panel {
  display: block;
  position: fixed;
  top: $topbar-height;
  left: 0;
  bottom: 0;
  width: $side-panel-width;
  height: calc(100vh - #{$topbar-height});
  background-color: $side-panel-bg-color;
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
  overflow-y: auto;
  transform: translate3d(-100%, 0, 0);
  z-index: 3;
  visibility: hidden;
}

.side-panel-expanded {
  .layout-side-panel {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  @media #{$large-up} {
    .layout-content-wrapper {
      margin-left: $side-panel-width;
    }
  }

  @media #{$medium-down} {
    .layout-side-panel-backdrop {
      visibility: visible;
      background-color: rgba(0, 0, 0, .6);
    }
  }
}

.layout-side-panel-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 2;
  visibility: hidden;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  transition-property: background-color, visibility;
}
