@import "base/variables";
@import "base/breakPoints";

$white: #ffffff;
$dark-white: #f5f7f8;

.owlng-introduction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: $white;
  padding: 10px;

  @media #{$medium-up} {
    padding: 30px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background: $header-bg;
    z-index: -1;
  }

  .featured-text {
    flex: 1 1 280px;
    padding-right: 16px;

    h1, h2 {
      margin: 0;
    }

    h1 {
      font-weight: 600;
      font-size: 2em;
      margin-bottom: .5em;
    }

    h2 {
      font-weight: normal;
      font-size: 1.2em;
    }
  }

  .featured-banner {
    width: 40%;
    min-width: 280px;
    max-width: 430px;

    img {
      width: 100%;
      height: auto;
    }
  }

  @media #{$small-only} {
    .featured-banner {
      order: 1;
    }

    .featured-text {
      order: 2;
    }
  }
}

.owlng-content {
  background-color: $white;
  padding: 10px;
  border-bottom: 1px solid #dde3e6;

  @media #{$medium-up} {
    padding: 30px;
  }
}

.owlng-demo {
  .demo-header {
    font-size: 1.2em;
    margin: 0 0 .5em;
  }

  .owlng-demo-row {
    margin-bottom: 2em;
  }
}

.owlng-doc {
  font-size: 1.1em;
  background-color: $dark-white;
  color: #3b454a;

  .owlng-doc-tab-view {
    background: $dark-white;
  }

  .owlng-doc-tab-content {
    padding: 20px 30px;
  }

  .owlng-doc-header {
    font-size: 1.5em;
    font-weight: 600;
    margin: 30px 0 0;

    &:first-child {
      margin-top: 0;
    }

    &:before {
      content: "";
      display: block;
      height: $topbar-height;
      margin: -$topbar-height 0 0;
    }

    .owlng-doc-header-link {
      display: inline-block;
      font-size: .6em;
      margin-left: -1.5em;
      cursor: pointer;
      color: #3f51b5;

      .icon {
        visibility: hidden;
      }
    }

    &:hover {
      .owlng-doc-header-link .icon {
        visibility: visible;
      }
    }
  }

  p {
    line-height: 1.5em;
    margin: .8em 0;
    opacity: .9;
  }

  .owlng-doc-alert {
    padding: 16px;
    margin: 24px 0;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    border-left: 10px solid #ff9800;
    background-color: rgba(255, 152, 0, 0.05);
  }

  .owlng-doc-table-wrapper {
    margin-top: .5em;
    box-sizing: border-box;

    .owlng-doc-table {
      width: 100%;
      border-collapse: collapse;
      box-sizing: border-box;

      th {
        background-color: #7986cb;
        color: $white;
        border: 1px solid #5c6bc0;
        padding: 12px;
        font-size: 16px;
        text-align: left;
      }

      tbody tr:nth-child(odd) {
        background-color: #e8eaf6;
      }

      tbody tr:nth-child(2n) {
        background-color: #f1f3ff;
      }

      tbody td {
        color: #39454a;
        padding: 24px 12px;
        border: 1px solid #cbd1d6;
        font-size: 15px;
        opacity: .9;
      }
    }
  }

  .owlng-viewsource-btn {
    background-color: #444;
    padding: .5em;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1em;
    display: inline-block;
    transition: background-color .3s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: darken(#444, 15%);
    }
  }
}

.owlng-btn {
  padding: 1em;
  width: 100%;
  max-width: 8em;
  height: 3em;
  background: $white;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  margin: .1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  display: inline-block;
  outline: none;
  border-radius: 3px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/*
Ripple Effect
*/
.owlng-ripple-iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  background: $white;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  i {
    font-size: 20px;
  }
}
