.side-nav {
  display: block;
  margin: 0 auto;

  &:first-child {
    margin-top: 1em;
  }
}

.vertical-menu-item {
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: block;
  position: relative;
  max-width: 260px;
  overflow-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  text-align: left;
  width: 93%;
  word-wrap: break-word;

  &:focus {
    outline: 2px auto #1e88e5;
  }

  &:hover {
    background-color: #dbdbdb;
    color: #1976d2;
    text-shadow: 0 0 5px #fff;
  }

  &.selected {
    color: #1976d2;
  }
}

.heading {
  color: #333;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}

.level-1 {
  margin-left: 14px;
  transition: background-color .2s;
  text-transform: uppercase;
}

.level-2 {
  color: #6e6e6e;
  margin-left: 12px;
  text-transform: none;
}

.level-3 {
  color: #6e6e6e;
  margin-left: 10px;
  text-transform: none;
}

.level-1, .level-2, .level-3 {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: .9em;
  font-weight: 400;
}

button.vertical-menu-item {
  border: none;
  background-color: transparent;
  margin-right: 0;
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 10px;

  .side-nav-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 1px;
    transition: transform .15s, -webkit-transform .15s;
    transition-timing-function: ease-in-out;
  }

  &.expanded {
    .side-nav-icon {
      transform: rotate(90deg);
    }
  }
}

a.vertical-menu-item {
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.side-nav-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: .8em;
  width: .8em;
}

.heading-children {
  margin-top: 5px;

  &.expanded {
    visibility: visible;
    opacity: 1;
    max-height: 4000px;
    transition: visibility .5s, opacity .5s, max-height .5s;
    transition-timing-function: ease-in-out;
  }

  &.collapsed {
    visibility: hidden;
    opacity: 0;
    max-height: 1px;
    transition: visibility 275ms, opacity 275ms, max-height 280ms;
    transition-timing-function: ease-out;
  }
}
