:host {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20vh;
  font-family: 'Russo One', cursive, sans-serif;
}

.game-snake-header-logo {
  width: 70%;
  height: auto;
}

.game-snake-header-links {
  font-size: 1.778rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  font-weight: 900;
}

.game-snake-header-link {
  transition: transform 100ms ease-in;

  &:not(.active):hover {
    color: #333333;
    transform: scale(1.2);
  }

  &.active {
    font-size: 3.16rem;
    line-height: 3.75rem;
    color: #97cb72;
  }
}
