@import url('https://fonts.googleapis.com/css?family=Sriracha');

:host {
  display: block;
  position: relative;
  height: 100vh;
  background-image: radial-gradient(#374566, #010203);
  overflow: hidden;
}

.canvas {
  position: fixed;
}

.game-karaoke-body {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}

.game-karaoke-header {
  display: block;
  font-size: calc(2em + 3vmax);
  text-align: center;
  margin: .4em 0;
  --interval: 1s;
  text-shadow:
          0 0 10px var(--color1),
          0 0 20px var(--color2),
          0 0 40px var(--color3),
          0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
  font-family: 'Sriracha', cursive, sans-serif;
}

.game-karaoke-content {
  display: flex;
}

.game-karaoke-back-btn {
  background: none;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 100;
  margin: 1rem 0;
  padding: .5rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.game-karaoke-social {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.game-home-btn {
  position: fixed;
  top: 30px;
  right: 5%;
  z-index: 100;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}
