<section class="owlng-content owlng-demo">
    <div class="owlng-demo-row yk-g">
        <div class="yk-g-12 yk-md-6">
            <h5 class="demo-header">Basic</h5>
            <owl-radio-group class="owlng-radio-group" name="brand1" [(ngModel)]="selectedBrand1">
                <owl-radio-button class="owlng-radio" value="Apple">Apple</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Samsung">Samsung</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Google">Google</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Amazon">Amazon</owl-radio-button>
            </owl-radio-group>
            <h5>Value: {{selectedBrand1}}</h5>
        </div>

        <div class="yk-g-12 yk-md-6">
            <h5 class="demo-header">Preselection</h5>
            <owl-radio-group class="owlng-radio-group" name="brand2" [(ngModel)]="selectedBrand2">
                <owl-radio-button class="owlng-radio" value="Apple">Apple</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Samsung">Samsung</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Google">Google</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Amazon">Amazon</owl-radio-button>
            </owl-radio-group>
            <h5>Value: {{selectedBrand2}}</h5>
        </div>
    </div>

    <div class="owlng-demo-row yk-g">
        <div class="yk-g-12 yk-md-6">
            <h5 class="demo-header">Disable radio</h5>
            <owl-radio-group class="owlng-radio-group" name="brand3">
                <owl-radio-button class="owlng-radio" value="Apple">Apple</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Samsung" [disabled]="true">Samsung</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Google" [disabled]="true">Google</owl-radio-button>
                <owl-radio-button class="owlng-radio" value="Amazon">Amazon</owl-radio-button>
            </owl-radio-group>
        </div>

    </div>

    <div class="owlng-demo-row">
        <a class="owlng-viewsource-btn github-btn" href="https://github.com/DanielYKPan/owl-examples/tree/radio-btn"
           target="_blank">
            <i class="fab fa-github" aria-hidden="true"></i> View Example Code on Github
        </a>

        <a class="owlng-viewsource-btn stackblitz-btn"
           href="https://stackblitz.com/github/DanielYKPan/owl-examples/tree/radio-btn" target="_blank">
            <img src="./assets/images/demo/stack_blitz_icon.png"> View Example Code on Live
        </a>
    </div>
</section>

<section class="owlng-content owlng-doc">

    <owl-tab-view class="owlng-doc-tab-view">
        <!-- <editor-fold desc="Documentation Panel"> -->
        <owl-tab label="Documentation">
            <div class="owlng-doc-tab-content">

                <!-- <editor-fold desc="Description"> -->
                <h3 id="description" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#description">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Description
                </h3>
                <p>
                    Owl Radio Button is an Angular component provides the same functionality as a native HTML input
                    radio element <code class="owlng-doc-code-tag"><![CDATA[<input type="radio">]]></code>. It is
                    generally used in radio group <span class="owlng-doc-code-tag">owl-radio-group</span> -- a
                    collection of radio buttons <span class="owlng-doc-code-tag">owl-radio-button</span> describing a
                    set of related options. Only one radio button in a given group can be selected at a time.
                </p>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Import"> -->
                <h3 id="import" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#import">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Import
                </h3>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
import { OwlRadioModule } from 'owl-ng';
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Getting Start"> -->
                <h3 id="getting-start" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#getting-start">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Getting Start
                </h3>
                <p>
                    Users wrap their radio button's label between
                    <span class="owlng-doc-code-tag">owl-radio-button</span>, and use property
                    <span class="owlng-doc-code-tag">[value]</span> to set the radio button's value.
                </p>
                <p>
                    Several radio buttons need to be wrapped inside <span
                        class="owlng-doc-code-tag">owl-radio-group</span>,
                    and use <span class="owlng-doc-code-tag">[name]</span> to define the name of the radiogroup. In
                    addition, <span class="owlng-doc-code-tag">owl-radio-group</span> is set up for both Template-driven
                    Forms and Reactive Forms. User can manipulate the select's value using any of the form directives
                    from the core <span class="owlng-doc-code-tag">FormsModule</span> or
                    <span class="owlng-doc-code-tag">ReactiveFormsModule</span>:
                    <span class="owlng-doc-code-tag">ngModel</span>, <span class="owlng-doc-code-tag">formControl</span>,
                    etc.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
 <owl-radio-group class="owlng-radio-group" name="brand" [(ngModel)]="selectedBrand">
    <owl-radio-button class="owlng-radio" value="Apple">Apple</owl-radio-button>
    <owl-radio-button class="owlng-radio" value="Samsung">Samsung</owl-radio-button>
    <owl-radio-button class="owlng-radio" value="Google">Google</owl-radio-button>
    <owl-radio-button class="owlng-radio" value="Amazon">Amazon</owl-radio-button>
</owl-radio-group>
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Keyboard Interaction"> -->
                <h3 id="keyboard-interaction" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#keyboard-interaction">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Keyboard Interaction
                </h3>
                <p>When the radio button is focused, user could user arrow keys to navigate among radio buttons have the
                    same property <span class="owlng-doc-code-tag">[name]</span> value.</p>
                <!-- </editor-fold> -->
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="API Panel"> -->
        <owl-tab label="API">
            <div class="owlng-doc-tab-content">

                <!-- <editor-fold desc="Properties owl-radio-group"> -->
                <h3 id="properties-owl-radio-group" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#properties-owl-radio-group">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Properties of <span class="owlng-doc-code-tag">owl-radio-group</span>
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Optional</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>disabled</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                When specified to true, the radio group would be disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>labelPosition</code></td>
                            <td align="left">'after' | 'before'</td>
                            <td align="left">Optional</td>
                            <td align="left">'after'</td>
                            <td align="left">
                                Defines the label position should be 'before' or 'after' the radio button.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>name</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left">owl-radio-group-0</td>
                            <td align="left">
                                Defines a name for the radio button group. All radio buttons inside group will use this
                                name.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>required</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left">false</td>
                            <td align="left">
                                Whether the radio group is required.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>tabIndex</code></td>
                            <td align="left">number</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">
                                Index of the element in tabbing order
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>value</code></td>
                            <td align="left">any</td>
                            <td align="left">Require</td>
                            <td align="left">null</td>
                            <td align="left">
                                The value assigned to the radio input.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Events owl-radio-group"> -->
                <h3 id="events-owl-radio-group" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#events-owl-radio-group">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Events of <span class="owlng-doc-code-tag">owl-radio-group</span>
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>groupValueChanged</code></td>
                            <td align="left">
                                source: the radio group component<br/>
                                originalEvent: event<br/>
                                value: ngModel value<br/>
                            </td>
                            <td align="left">
                                Event emits when radiogroup's value changed.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Properties owl-radio-button"> -->
                <h3 id="properties-owl-radio-button" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#properties-owl-radio-button">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Properties of <span class="owlng-doc-code-tag">owl-radio-button</span>
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Optional</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>aria-label</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">
                                Attached to the aria-label attribute of the host element
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>aria-labelledby</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">Users can specify the 'aria-labelledby' attribute which will be forwarded
                                to
                                the input element
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>disabled</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                When specified to true, the radio button would be disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>disableRipple</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                When specified to true, the radio button's ripple effect would be disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>id</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left">'owl-radio-0'</td>
                            <td align="left">Unique id for the radio button.</td>
                        </tr>
                        <tr>
                            <td align="left"><code>labelPosition</code></td>
                            <td align="left">'after' | 'before'</td>
                            <td align="left">Optional</td>
                            <td align="left">'after'</td>
                            <td align="left">
                                Defines the label position should be 'before' or 'after' the radio button.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>name</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left">null</td>
                            <td align="left">
                                Identifies the group to which a radio button belongs.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>required</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left">false</td>
                            <td align="left">Whether the radio button is required.</td>
                        </tr>
                        <tr>
                            <td align="left"><code>value</code></td>
                            <td align="left">any</td>
                            <td align="left">Require</td>
                            <td align="left">null</td>
                            <td align="left">
                                The value assigned to the radio input.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Events owl-radio-button"> -->
                <h3 id="events-owl-radio-button" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#events-owl-radio-button">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Events of <span class="owlng-doc-code-tag">owl-radio-button</span>
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>valueChanged</code></td>
                            <td align="left">
                                source: the radio button component<br/>
                                originalEvent: event<br/>
                                value: ngModel value<br/>
                            </td>
                            <td align="left">
                                Event emits when radio button's checked state changed.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Styles"> -->
                <h3 id="styles" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/radio#styles">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Styles (scss format)
                </h3>
                <pre>
<code class="language-css" ngNonBindable appCodeHighlight><![CDATA[
$theme-color: #673ab7;
$radio-circle-size: 1.125em;
$ripple-size: $radio-circle-size * 1.7;

.owl-radio-button,
.owl-radio-button *,
.owl-radio-button *:before {
  box-sizing: border-box;
}

.owl-radio-button {
  display: inline-block;
  font-size: 1em;
}

.owl-radio-label {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
}

.owl-radio-circle {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: $radio-circle-size;
  height: $radio-circle-size;
  border-radius: 50%;

  &:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, .54);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 280ms ease;
  }
}

.owl-radio-focused {
  .owl-radio-circle {
    box-shadow: 0 0 5px #673ab7;
  }
}

.owl-radio-checked {
  .owl-radio-circle:before {
    background-color: $theme-color;
    box-shadow: inset 0 0 0 .15em #f4f4f4;
    border-color: #4527a0;
  }
}

.owl-radio-label-content {
  display: inline-block;
  order: 0;
  padding: 0 0 0 .5em;
}

.owl-radio-label-before {
  .owl-radio-label-content {
    order: -1;
    padding: 0 .5em 0 0;
  }
}

.owl-radio-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;

  .owl-radio-label {
    cursor: default;
  }
}

.owl-radio-ripple {
  top: $radio-circle-size/2 - $ripple-size/2;
  left: $radio-circle-size/2 - $ripple-size/2;
  width: $ripple-size;
  height: $ripple-size;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.owl-radio-ripple-ring {
  background-color: rgba($theme-color, .2);
}

]]></code>
</pre>
                <!-- </editor-fold> -->
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="Source Panel"> -->
        <owl-tab label="Source">
            <div class="owlng-doc-tab-content">

                <a class="owlng-viewsource-btn github-btn"
                   href="https://github.com/DanielYKPan/owl-examples/tree/radio-btn"
                   target="_blank">
                    <i class="fab fa-github" aria-hidden="true"></i> View Example Code on Github
                </a>

                <a class="owlng-viewsource-btn stackblitz-btn"
                   href="https://stackblitz.com/github/DanielYKPan/owl-examples/tree/radio-btn" target="_blank">
                    <img src="./assets/images/demo/stack_blitz_icon.png"> View Example Code on Live
                </a>

                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<div class="owlng-demo-row yk-g">
    <div class="yk-g-12 yk-md-6">
        <h5 class="demo-header">Basic</h5>
        <owl-radio-group class="owlng-radio-group" name="brand1" [(ngModel)]="selectedBrand1">
            <owl-radio-button class="owlng-radio" value="Apple">Apple</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Samsung">Samsung</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Google">Google</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Amazon">Amazon</owl-radio-button>
        </owl-radio-group>
        <h5>Value: {{selectedBrand1}}</h5>
    </div>

    <div class="yk-g-12 yk-md-6">
        <h5 class="demo-header">Preselection</h5>
        <owl-radio-group class="owlng-radio-group" name="brand2" [(ngModel)]="selectedBrand2">
            <owl-radio-button class="owlng-radio" value="Apple">Apple</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Samsung">Samsung</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Google">Google</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Amazon">Amazon</owl-radio-button>
        </owl-radio-group>
        <h5>Value: {{selectedBrand2}}</h5>
    </div>
</div>

<div class="owlng-demo-row yk-g">
    <div class="yk-g-12 yk-md-6">
        <h5 class="demo-header">Disable radio</h5>
        <owl-radio-group class="owlng-radio-group" name="brand3">
            <owl-radio-button class="owlng-radio" value="Apple">Apple</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Samsung" [disabled]="true">Samsung</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Google" [disabled]="true">Google</owl-radio-button>
            <owl-radio-button class="owlng-radio" value="Amazon">Amazon</owl-radio-button>
        </owl-radio-group>
    </div>
</div>
]]></code>
</pre>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
export class MyComponent {
    public selectedBrand1: string;
    public selectedBrand2: string = 'Google';
}
]]></code>
</pre>
            </div>
        </owl-tab>
        <!-- </editor-fold> -->
    </owl-tab-view>

</section>
