<section class="owlng-content owlng-demo">
    <div class="owlng-demo-row">
        <h5 class="demo-header">Basic</h5>
        <owl-accordion>
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Game of Thrones
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Fantasy Drama
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
                large
                ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
                the
                Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
                vying
                to claim the throne or fighting for independence from the throne. The second story arc focuses on the
                last
                descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
                story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
                threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
                threatens the realm.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        The Walking Dead
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Post-Apocalyptic Horror Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
                referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
                attracted
                to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
                become
                infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
                carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
                only
                way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
                cremating it.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Modern Family
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Family Comedy Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
                the
                Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
                Pritchett)
                and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
                (née
                Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
                from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
                returned
                to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
                realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
                teenage
                girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
                lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
                Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
                comically based on situations which many families encounter in real life.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
        </owl-accordion>
    </div>

    <div class="owlng-demo-row">
        <h5 class="demo-header">No Space Around Panels</h5>
        <owl-accordion [accordionMode]="'flat'">
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Game of Thrones
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Fantasy Drama
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
                large
                ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
                the
                Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
                vying
                to claim the throne or fighting for independence from the throne. The second story arc focuses on the
                last
                descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
                story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
                threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
                threatens the realm.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        The Walking Dead
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Post-Apocalyptic Horror Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
                referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
                attracted
                to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
                become
                infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
                carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
                only
                way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
                cremating it.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Modern Family
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Family Comedy Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
                the
                Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
                Pritchett)
                and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
                (née
                Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
                from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
                returned
                to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
                realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
                teenage
                girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
                lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
                Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
                comically based on situations which many families encounter in real life.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
        </owl-accordion>
    </div>

    <div class="owlng-demo-row">
        <h5 class="demo-header">Multiple</h5>
        <owl-accordion [multiple]="true">
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Game of Thrones
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Fantasy Drama
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
                large
                ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
                the
                Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
                vying
                to claim the throne or fighting for independence from the throne. The second story arc focuses on the
                last
                descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
                story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
                threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
                threatens the realm.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        The Walking Dead
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Post-Apocalyptic Horror Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
                referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
                attracted
                to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
                become
                infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
                carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
                only
                way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
                cremating it.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel>
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Modern Family
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Family Comedy Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
                the
                Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
                Pritchett)
                and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
                (née
                Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
                from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
                returned
                to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
                realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
                teenage
                girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
                lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
                Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
                comically based on situations which many families encounter in real life.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
        </owl-accordion>
    </div>

    <div class="owlng-demo-row">
        <h5 class="demo-header">Programmatic Control</h5>
        <button class="owlng-btn" (click)="openPrev()" owlRipple>Previous</button>
        <button class="owlng-btn" (click)="openNext()" owlRipple>Next</button>
        <owl-accordion>
            <owl-expansion-panel [expanded]=" index === 0" (opened)="setStep(0)">
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Game of Thrones
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Fantasy Drama
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
                large
                ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
                the
                Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
                vying
                to claim the throne or fighting for independence from the throne. The second story arc focuses on the
                last
                descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
                story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
                threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
                threatens the realm.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel [expanded]=" index === 1" (opened)="setStep(1)">
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        The Walking Dead
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Post-Apocalyptic Horror Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
                referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
                attracted
                to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
                become
                infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
                carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
                only
                way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
                cremating it.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
            <owl-expansion-panel [expanded]=" index === 2" (opened)="setStep(2)">
                <owl-expansion-panel-header>
                    <owl-expansion-panel-title>
                        Modern Family
                    </owl-expansion-panel-title>
                    <owl-expansion-panel-description>
                        Family Comedy Series
                    </owl-expansion-panel-description>
                </owl-expansion-panel-header>

                <!-- <editor-fold desc="dummy text"> -->
                Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
                the
                Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
                Pritchett)
                and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
                (née
                Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
                from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
                returned
                to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
                realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
                teenage
                girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
                lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
                Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
                comically based on situations which many families encounter in real life.
                <!-- </editor-fold> -->
            </owl-expansion-panel>
        </owl-accordion>
    </div>

    <div class="owlng-demo-row">
        <a class="owlng-viewsource-btn github-btn"
           href="https://github.com/DanielYKPan/owl-examples/tree/accordion-panel" target="_blank">
            <i class="fab fa-github" aria-hidden="true"></i> View Example Code on Github
        </a>

        <a class="owlng-viewsource-btn stackblitz-btn"
           href="https://stackblitz.com/github/DanielYKPan/owl-examples/tree/accordion-panel" target="_blank">
            <img src="./assets/images/demo/stack_blitz_icon.png"> View Example Code on Live
        </a>
    </div>
</section>

<section class="owlng-content owlng-doc">
    <owl-tab-view class="owlng-doc-tab-view">

        <!-- <editor-fold desc="Documentation Panel"> -->
        <owl-tab label="Documentation">
            <div class="owlng-doc-tab-content">

                <!-- <editor-fold desc="Description"> -->
                <h3 id="description" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'description'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Description
                </h3>
                <p>
                    Owl Accordion is an Angular component that creates a simple accordion control to allow user to group
                    different content in tabs.
                </p>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Import"> -->
                <h3 id="import" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'import'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Import
                </h3>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
import { OwlAccordionModule } from 'owl-ng';
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Expansion Panel"> -->
                <h3 id="expansion-panel" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'expansion-panel'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Expansion Panel
                </h3>
                <p>
                    Each expansion panel must have a header and its panel content.
                </p>
                <h4>
                    Header
                </h4>
                <p>
                    <span class="owlng-doc-code-tag">owl-expansion-panel-header</span> shows a summary of the panel's
                    content and acts as the control of expanding and collapsing the panel. Each time the expansion
                    panel's header is clicked, the expansion panel's content would be shown or hidden.
                </p>
                <p>
                    <span class="owlng-doc-code-tag">owl-expansion-panel-header</span> may optionally contain an
                    <span class="owlng-doc-code-tag">owl-expansion-panel-title</span> and an
                    <span class="owlng-doc-code-tag">owl-expansion-panel-description</span>, which format the content of
                    the header to align to different positions of the header.
                </p>
                <p>
                    By default, the expansion panel header would includes a toggle icon at the end of the header.
                    Whenever the expansion state changes, the toggle icon would be animated to show whether the
                    expansion panel is expanded or collapsed. Users could also use their own toggle icon by wrapping
                    them with <span class="owlng-doc-code-tag">owl-expansion-panel-toggle</span>. The toggle icon can
                    also be hidden via the <span class="owlng-doc-code-tag">[hideToggle]</span> property in
                    <span class="owlng-doc-code-tag">owl-accordion</span>.
                </p>

                <h4>Content</h4>
                <p>
                    Expansion panel content must be wrapped inside
                    <span class="owlng-doc-code-tag">owl-expansion-panel</span>. By default, the expansion panel content
                    will be initialised even when the panel is collapsed. To instead defer initialisation until the
                    panel is expanded, the content should be provided as an
                    <span class="owlng-doc-code-tag">ng-template</span> with <span class="owlng-doc-code-tag">owlExpansionPanelContent</span>
                    directive.
                </p>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Accordion"> -->
                <h3 id="accordion" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'accordion'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Accordion
                </h3>
                <p>
                    Multiple expansion panels <span class="owlng-doc-code-tag">owl-expansion-panel</span> must be
                    wrapped within an accordion <span class="owlng-doc-code-tag">owl-accordion</span>. By default, only
                    one panel can be expanded at a time. This behaviour can be changed by setting property
                    <span class="owlng-doc-code-tag">[multiple]</span> to true in <span class="owlng-doc-code-tag">owl-accordion</span>.
                    This would allow multiple expansion panels to be expanded at the same time.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-accordion>
    <owl-expansion-panel>
        <owl-expansion-panel-header>
            <owl-expansion-panel-title>
                My Title1
            </owl-expansion-panel-title>
            <owl-expansion-panel-description>
                My Description1
            </owl-expansion-panel-description>
        </owl-expansion-panel-header>
        My Panel Content is here
    </owl-expansion-panel>


    <owl-expansion-panel>
        <owl-expansion-panel-header>
            <owl-expansion-panel-title>
                My Title2
            </owl-expansion-panel-title>
            <owl-expansion-panel-description>
                My Description2
            </owl-expansion-panel-description>
        </owl-expansion-panel-header>

        <ng-template owlExpansionPanelContent>
            My Lazy Panel Content is here.
        </ng-template>
    </owl-expansion-panel>
</owl-accordion>
]]></code>
</pre>
                <!-- </editor-fold> -->

            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="API Panel"> -->
        <owl-tab label="API">
            <div class="owlng-doc-tab-content">

                <!-- <editor-fold desc="Owl Accordion"> -->
                <h3 id="owl-accordion" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'owl-accordion'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    <span class="owlng-doc-code-tag">owl-accordion</span>
                </h3>
                <h4>Properties</h4>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th [style.width]="'5em'">Type</th>
                            <th>Optional</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>hideToggle</code></td>
                            <td align="left">false</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether to hide the expansion toggle icon.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>multiple</code></td>
                            <td align="left">false</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether to allow multi expansion panels to be expanded at the same time.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>accordionMode</code></td>
                            <td align="left">'gutter' | 'flat'</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>'gutter'</code></td>
                            <td align="left">
                                The accordion mode used for all expansion panels.<br/>
                                There are two display mode:
                                <ul>
                                    <li>gutter -- a gutter-like spacing is placed around any expanded panel, placing the
                                        expanded panel at a different elevation from the reset of the accordion.
                                    </li>
                                    <li>flat -- no spacing is placed around expanded panels, showing all panels at the
                                        same elevation.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Owl Expansion Panel"> -->
                <h3 id="owl-expansion-panel" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'owl-expansion-panel'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    <span class="owlng-doc-code-tag">owl-expansion-panel</span>
                </h3>
                <h4>Properties</h4>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Optional</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>expanded</code></td>
                            <td align="left">boolean</td>
                            <td align="left">optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether the expansion panel is expanded.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>disabled</code></td>
                            <td align="left">boolean</td>
                            <td align="left">optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether the expansion panel is disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>hideToggle</code></td>
                            <td align="left">false</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether to hide the expansion toggle icon.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h4>Events</h4>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>opened</code></td>
                            <td align="left">null</td>
                            <td align="left">
                                Emits when the expansion panel is opened.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>closed</code></td>
                            <td align="left">null</td>
                            <td align="left">
                                Emits when the expansion panel is closed.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Owl Expansion Panel Header"> -->
                <h3 id="owl-expansion-panel-header" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'owl-expansion-panel-header'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    <span class="owlng-doc-code-tag">owl-expansion-panel-header</span>
                </h3>
                <h4>Properties</h4>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Optional</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>expandedHeight</code></td>
                            <td align="left">string</td>
                            <td align="left">optional</td>
                            <td align="left"><code>'4em'</code></td>
                            <td align="left">
                                Defines the height of the header while the panel is expanded.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>collapsedHeight</code></td>
                            <td align="left">string</td>
                            <td align="left">optional</td>
                            <td align="left"><code>'3em'</code></td>
                            <td align="left">
                                Defines the height of the header while the panel is collapsed.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>hideToggle</code></td>
                            <td align="left">false</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether to hide the expansion toggle icon.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Styles"> -->
                <h3 id="styles" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" [routerLink]="'/owlng/accordion'" [fragment]="'styles'">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Styles (scss format)
                </h3>
                <pre>
<code class="language-css" ngNonBindable appCodeHighlight><![CDATA[
.owl-expansion-panel {
  display: block;
  box-sizing: content-box;
  margin: 0;
  transition: margin 225ms cubic-bezier(.4, 0, .2, 1);
  background: #fff;
  color: rgba(0, 0, 0, .85);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12);
}

.owl-expansion-panel-header {
  display: block;

  &:not([aria-disabled=true]) {
    cursor: pointer;
  }

  &[aria-disabled=true] {
    color: rgba(0, 0, 0, .4);

    .owl-expansion-panel-header-title,
    .owl-expansion-panel-header-description {
      color: inherit;
    }
  }

  .owl-expansion-panel-header-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.5em;
  }

  &:focus,
  .owl-expansion-panel-header-wrapper:focus {
    outline: none;
  }

  &:not([aria-expanded=true]):not([aria-disabled=true]):focus > .owl-expansion-panel-header-wrapper,
  &:not([aria-expanded=true]):not([aria-disabled=true]) > .owl-expansion-panel-header-wrapper:hover {
    background: rgba(0, 0, 0, .04);
  }
}

.owl-expansion-panel-header-content {
  display: flex;
  flex-grow: 1;
  font-size: .9em;
  font-weight: 400;
  overflow: hidden;
}

.owl-expansion-panel-header-description,
.owl-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 1em;
}

.owl-expansion-panel-header-title {
  color: rgba(0, 0, 0, .85);
}

.owl-expansion-panel-header-description {
  color: rgba(0, 0, 0, .55);
}

.owl-expansion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: .7em;
  height: .7em;
  svg {
    width: 100%;
    height: 100%;
    fill: rgba(0, 0, 0, .55);
  }
}

.owl-expansion-panel-body {
  padding: 0 1.5em 1.5em;
}

.owl-expansion-panel-spacing {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.owl-expansion-panel-toggle {
  display: block;
}

]]></code>
</pre>
                <!-- </editor-fold> -->
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="Source Panel"> -->
        <owl-tab label="Source">
            <div class="owlng-doc-tab-content">
                <a class="owlng-viewsource-btn github-btn"
                   href="https://github.com/DanielYKPan/owl-examples/tree/accordion-panel" target="_blank">
                    <i class="fab fa-github" aria-hidden="true"></i> View Example Code on Github
                </a>

                <a class="owlng-viewsource-btn stackblitz-btn"
                   href="https://stackblitz.com/github/DanielYKPan/owl-examples/tree/accordion-panel" target="_blank">
                    <img src="./assets/images/demo/stack_blitz_icon.png"> View Example Code on Live
                </a>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<div class="owlng-demo-row">
    <h5 class="demo-header">Basic</h5>
    <owl-accordion>
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Game of Thrones
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Fantasy Drama
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
            large
            ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
            the
            Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
            vying
            to claim the throne or fighting for independence from the throne. The second story arc focuses on the
            last
            descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
            story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
            threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
            threatens the realm.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    The Walking Dead
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Post-Apocalyptic Horror Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
            referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
            attracted
            to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
            become
            infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
            carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
            only
            way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
            cremating it.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Modern Family
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Family Comedy Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
            the
            Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
            Pritchett)
            and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
            (née
            Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
            from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
            returned
            to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
            realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
            teenage
            girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
            lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
            Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
            comically based on situations which many families encounter in real life.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
    </owl-accordion>
</div>

<div class="owlng-demo-row">
    <h5 class="demo-header">No Space Around Panels</h5>
    <owl-accordion [accordionMode]="'flat'">
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Game of Thrones
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Fantasy Drama
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
            large
            ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
            the
            Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
            vying
            to claim the throne or fighting for independence from the throne. The second story arc focuses on the
            last
            descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
            story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
            threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
            threatens the realm.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    The Walking Dead
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Post-Apocalyptic Horror Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
            referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
            attracted
            to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
            become
            infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
            carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
            only
            way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
            cremating it.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Modern Family
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Family Comedy Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
            the
            Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
            Pritchett)
            and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
            (née
            Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
            from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
            returned
            to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
            realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
            teenage
            girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
            lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
            Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
            comically based on situations which many families encounter in real life.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
    </owl-accordion>
</div>

<div class="owlng-demo-row">
    <h5 class="demo-header">Multiple</h5>
    <owl-accordion [multiple]="true">
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Game of Thrones
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Fantasy Drama
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
            large
            ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
            the
            Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
            vying
            to claim the throne or fighting for independence from the throne. The second story arc focuses on the
            last
            descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
            story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
            threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
            threatens the realm.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    The Walking Dead
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Post-Apocalyptic Horror Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
            referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
            attracted
            to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
            become
            infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
            carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
            only
            way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
            cremating it.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel>
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Modern Family
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Family Comedy Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
            the
            Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
            Pritchett)
            and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
            (née
            Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
            from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
            returned
            to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
            realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
            teenage
            girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
            lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
            Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
            comically based on situations which many families encounter in real life.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
    </owl-accordion>
</div>

<div class="owlng-demo-row">
    <h5 class="demo-header">Programmatic Control</h5>
    <button class="owlng-btn" (click)="openPrev()" owlRipple>Previous</button>
    <button class="owlng-btn" (click)="openNext()" owlRipple>Next</button>
    <owl-accordion>
        <owl-expansion-panel [expanded]=" index === 0" (opened)="setStep(0)">
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Game of Thrones
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Fantasy Drama
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a
            large
            ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of
            the
            Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either
            vying
            to claim the throne or fighting for independence from the throne. The second story arc focuses on the
            last
            descendant of the realm's deposed ruling dynasty, exiled and plotting a return to the throne. The third
            story arc centers on the longstanding brotherhood charged with defending the realm against the ancient
            threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that
            threatens the realm.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel [expanded]=" index === 1" (opened)="setStep(1)">
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    The Walking Dead
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Post-Apocalyptic Horror Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially
            referred to as "walkers", shamble towards living humans and other creatures to eat them (they are
            attracted
            to noise, e.g., gunshots, and to different scents, e.g., humans). Humans that they bite or scratch
            become
            infected and slowly turn into walkers as well. It is revealed early in the series that all living humans
            carry this pathogen, so that if they die from any other cause, they will also turn into walkers. The
            only
            way to permanently kill a walker is to damage its brain or otherwise fully destroy the body, such as by
            cremating it.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
        <owl-expansion-panel [expanded]=" index === 2" (opened)="setStep(2)">
            <owl-expansion-panel-header>
                <owl-expansion-panel-title>
                    Modern Family
                </owl-expansion-panel-title>
                <owl-expansion-panel-description>
                    Family Comedy Series
                </owl-expansion-panel-description>
            </owl-expansion-panel-header>

            <!-- <editor-fold desc="dummy text"> -->
            Modern Family revolves around three different types of families (nuclear, step- and same-sex) living in
            the
            Los Angeles area who are interrelated through Jay Pritchett and his children, Claire Dunphy (née
            Pritchett)
            and Mitchell Pritchett. Patriarch Jay is remarried to a much younger woman, Gloria Delgado Pritchett
            (née
            Ramirez), a passionate[5] Colombian with whom he has an infant son, Fulgencio (Joe) Pritchett, and a son
            from Gloria's previous marriage,[6] Manny Delgado. Jay's daughter Claire was a homemaker, but has
            returned
            to the business world. She now works in her father's closet business. She is married to Phil Dunphy, a
            realtor and self-professed "cool Dad". They have three children: Haley Dunphy, a stereotypical ditzy
            teenage
            girl;[7] Alex Dunphy, a nerdy, smart middle child;[8] and Luke Dunphy, the off-beat only son.[9] Jay's
            lawyer son Mitchell and his husband Cameron Tucker have an adopted Vietnamese daughter, Lily
            Tucker-Pritchett. As the name suggests, this family represents a modern-day family and episodes are
            comically based on situations which many families encounter in real life.
            <!-- </editor-fold> -->
        </owl-expansion-panel>
    </owl-accordion>
</div>
]]></code>
</pre>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
export class MyComponent {

    public index = 0;

    constructor() {
    }

    public openPrev() {
        if (this.index === 0) {
            return;
        }

        this.index -= 1;
    }

    public openNext() {
        if (this.index === 2) {
            return;
        }

        this.index += 1;
    }

    public setStep( num: number ): void {
        if (this.index !== num) {
            this.index = num;
        }
    }
}
]]></code>
</pre>
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

    </owl-tab-view>
</section>
