<div class="layout-content">
    <div class="layout-route-content">
        <a routerLink="./" routerLinkActive="active">Game Center</a>
        <a routerLink="./2048" routerLinkActive="active">Game 2048</a>
        <a routerLink="./minesweeper" routerLinkActive="active">Game Minesweeper</a>
        <a routerLink="./puzzle" routerLinkActive="active">Game Puzzle</a>
        <a routerLink="./memory" routerLinkActive="active">Game Memory</a>
        <a routerLink="./trivia" routerLinkActive="active">Game Trivia</a>
    </div>
</div>
