<ng-container *ngIf="item.children && item.children.length > 0;else elseBlock" >
    <button class="vertical-menu-item level-{{item.level}} heading {{expandStatus? 'expanded' : 'collapsed'}}"
            [class.selected]="selected"
            type="button" aria-pressed="false"
            (click)="clickHeadingButton($event)">
        {{item.name}}
        <span class="side-nav-icon">
            <!--<editor-fold desc="arrow svg">-->
                <svg version="1.1" id="arrow-level-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 250.738 250.738" width="100%" height="100%" style="enable-background:new 0 0 250.738 250.738;" xml:space="preserve">
                <g id="Rounded_Rectangle_33_copy_4">
                    <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M191.75,111.689L84.766,5.291c-7.1-7.055-18.613-7.055-25.713,0
                        c-7.101,7.054-7.101,18.49,0,25.544l95.053,94.534l-95.053,94.533c-7.101,7.054-7.101,18.491,0,25.545
                        c7.1,7.054,18.613,7.054,25.713,0L191.75,139.05c3.784-3.759,5.487-8.759,5.238-13.681
                        C197.237,120.447,195.534,115.448,191.75,111.689z"/>
                </g>
                </svg>
            <!--</editor-fold>-->
        </span>
    </button>
    <div class="heading-children level-{{item.level}} {{expandStatus? 'expanded' : 'collapsed'}}">
        <app-side-nav-item *ngFor="let child of item.children" [item]="child" [currentUrl]="currentUrl" (expandParent)="setExpandStatus()"></app-side-nav-item>
    </div>
</ng-container>
<ng-template #elseBlock>
    <div>
        <a class="vertical-menu-item level-{{item.level}}"
           [routerLink]="item.slug"
           routerLinkActive="selected"
           [routerLinkActiveOptions]="{ exact: true }">{{item.name}}</a>
    </div>
</ng-template>
