:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(238, 228, 218, 0.7);
  border-radius: 1rem;
  z-index: 3;
}

.game-2048-over-text {
  font-size: 4.5rem;
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.game-2048-restart-btn {

  font-size: 1.5rem;
  font-family: inherit;
  background: #8f7a66;
  border-radius: 3px;
  text-decoration: none;
  color: #f9f6f2;
  outline: none;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: .5rem 1rem;

  &:hover {
    background: #806c5a;
  }
}
