<section class="owlng-content owlng-demo">
    <div class="owlng-demo-row yk-g">
        <div class="yk-g-12 yk-md-4">
            <h5 class="demo-header">Basic</h5>
            <owl-switch class="demo-switch" [(ngModel)]="checked_1">{{checked_1}}</owl-switch>
        </div>

        <div class="yk-g-12 yk-md-4">
            <h5 class="demo-header">Disable Switch</h5>
            <owl-switch class="demo-switch" [(ngModel)]="disabled">{{disabled? 'disabled': 'enabled'}}</owl-switch>
            <owl-switch class="demo-switch" [(ngModel)]="checked_2" [disabled]="disabled">{{checked_2}}</owl-switch>
        </div>

        <div class="yk-g-12 yk-md-4">
            <h5 class="demo-header">Vertical Switch</h5>
            <owl-switch class="demo-switch" [(ngModel)]="checked_3" [vertical]="true">{{checked_3}}</owl-switch>
        </div>
    </div>
</section>

<section class="owlng-content owlng-doc">
    <owl-tab-view class="owlng-doc-tab-view">

        <!-- <editor-fold desc="Documentation Panel"> -->
        <owl-tab label="Documentation">
            <div class="owlng-doc-tab-content">

                <!-- <editor-fold desc="Description"> -->
                <h3 id="description" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/switch#description">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Description
                </h3>
                <p>
                    Owl Switch is an Angular component to allow user to toggle boolean value. It is an on/off control
                    that can be toggled via clicking or dragging. It is well designed with styles and animations.
                </p>
                <div class="owlng-doc-alert">
                    <em>
                        Note: the sliding behavior for this component requires that HammerJS is loaded on the page.
                        You could learn more about this from
                        <a class="owlng-doc-link" routerLink="/owlng/getting-start" fragment="step-5">here</a>.
                    </em>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Import"> -->
                <h3 id="import" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/switch#import">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Import
                </h3>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
import { OwlSwitchModule } from 'owl-ng';
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Getting Start"> -->
                <h3 id="getting-start" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/switch#getting-start">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Getting Start
                </h3>
                <p>
                    Owl Switch is set up for both Template-driven Forms and Reactive Forms. User can manipulate the
                    switch's value using any of the form directives from the core <span class="owlng-doc-code-tag">FormsModule</span>
                    or <span class="owlng-doc-code-tag">ReactiveFormsModule</span>: <span class="owlng-doc-code-tag">ngModel</span>,
                    <span class="owlng-doc-code-tag">formControl</span>, etc.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-switch [(ngModel)]="checked">Slide Me!</owl-switch>
]]></code>
</pre>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
export class MyComponent {
    public checked: boolean = false;
}
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Label"> -->
                <h3 id="label" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/switch#label">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Switch Label
                </h3>
                <p>
                    The switch label is provided as the content to the <span class="owlng-doc-code-tag"><![CDATA[ <owl-switch></owl-switch> ]]></span>
                    element.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-switch [(ngModel)]="checked">Label Here</owl-switch>
]]></code>
</pre>
                <p>
                    The default position of the label is after the switch. User could change property
                    <span class="owlng-doc-code-tag">[labelPosition]</span> to 'before'. If user doesn't want the label
                    to appear next to the switch, he can use aria-label or aria-labelledby to specify an appropriate
                    label.
                </p>
                <!-- </editor-fold> -->

            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="API Panel"> -->
        <owl-tab label="API">
            <div class="owlng-doc-tab-content">

                <!-- <editor-fold desc="Properties owl-switch"> -->
                <h3 id="properties-owl-switch" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/switch#properties-owl-switch">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Properties for <b class="owlng-doc-code-tag">owl-switch</b>
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Optional</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>aria-label</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">
                                Attached to the aria-label attribute of the switch
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>aria-labelledby</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">
                                Users can specify the 'aria-labelledby' attribute which will be forwarded to
                                the switch
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>checked</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether the switch is checked.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>disabled</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                When specified to true, the switch would be disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>disableRipple</code></td>
                            <td align="left">boolean</td>
                            <td align="left">optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                When specified to true, the ripple effect would be disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>id</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>'owl-switch-0'</code></td>
                            <td align="left">A unique id for the switch input. If none is supplied, it will be
                                auto-generated.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>labelPosition</code></td>
                            <td align="left">'after' | 'before'</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>'after'</code></td>
                            <td align="left">
                                Whether the label should appear after or before the switch.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>name</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">
                                The name attribute of the switch
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>required</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Whether the switch's value is required.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>tabIndex</code></td>
                            <td align="left">number</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">Index of the element in tabbing order</td>
                        </tr>
                        <tr>
                            <td align="left"><code>vertical</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                Defines whether the switch to be vertical
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Events owl-switch"> -->
                <h3 id="events-owl-switch" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/switch#events-owl-switch">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Events for <b class="owlng-doc-code-tag">owl-switch</b>
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>change</code></td>
                            <td align="left">
                                source: the switch component<br/>
                                originalEvent: event<br/>
                                value: ngModel value<br/>
                            </td>
                            <td align="left">
                                Event emits when switch's checked state changes
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Styles"> -->
                <h3 id="styles" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/switch#styles">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Styles (scss format) of owl-switch
                </h3>
                <pre>
<code class="language-css" ngNonBindable appCodeHighlight><![CDATA[
$handle-size: 1.4em;
$bar-height: 1em;
$bar-width: 2.7em;
$bar-vertical-height: $bar-width;
$bar-vertical-width: $bar-height;
$ripple-size: $handle-size * 1.5;
$handle-bg-color: #fafafa;
$theme-color: #673ab7;

.owl-switch,
.owl-switch * {
  box-sizing: border-box;
}

.owl-switch {
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  outline: 0;
}

.owl-switch-label {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.owl-switch-bar {
  display: inline-block;
  position: relative;
  width: $bar-width;
  height: $bar-height;
  border-radius: .5em;
  margin: 0 .5em 0 0;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .3);
  vertical-align: middle;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: inherit;
    background-color: rgba(0, 0, 0, .38);
    transition: all 0.25s linear;
  }

  &.owl-switch-bar-no-side-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

.owl-switch-handle-container {
  display: block;
  position: absolute;
  z-index: 1;
  width: $handle-size;
  height: $handle-size;
  top: ($handle-size - $bar-height)/2 * -1;
  left: 0;
  transform: translate3d(0, 0, 0);
  transition: all 100ms linear;
  transition-property: transform;
  cursor: grab;

  &:active,
  &.owl-switch-handle-dragging {
    cursor: grabbing;
    transition-duration: 0ms;
  }

  .owl-switch-handle {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);

    background-color: $handle-bg-color;
  }
}

.owl-switch-disabled {
  .owl-switch-label {
    opacity: 0.35;
    filter: Alpha(Opacity=35);
    background-image: none;
    cursor: default !important;
  }
}

.owl-switch-checked {
  .owl-switch-bar {
    background-color: rgba($theme-color, .5);

    &:before {
      transform: translate3d(30%, 0, 0) scale3d(0, 0, 0);
    }
  }

  .owl-switch-handle-container {
    transform: translate3d(($bar-width - $handle-size), 0, 0);

    .owl-switch-handle {
      background-color: $theme-color;
    }
  }

  .owl-switch-ripple-ring {
    background-color: rgba($theme-color, .2);
  }
}

.owl-switch-label-before {
  .owl-switch-bar {
    margin: 0 0 0 .5em;
    order: 1;
  }
}

.owl-switch-focused {

  .owl-switch-bar {
    background-color: rgba(0, 0, 0, .2);
  }

  &.owl-switch-checked {
    .owl-switch-bar {
      background-color: rgba($theme-color, .6);
    }
  }
}

.owl-switch-bar,
.owl-switch-handle {
  transition: background-color 100ms linear 50ms;
}

.owl-switch-vertical {

  vertical-align: middle;

  .owl-switch-bar {
    width: $bar-vertical-width;
    height: $bar-vertical-height;
  }

  .owl-switch-handle-container {
    top: 0;
    left: ($handle-size - $bar-height)/2 * -1;
  }

  &.owl-switch-checked {
    .owl-switch-handle-container {
      transform: translate3d(0, ($bar-vertical-height - $handle-size), 0);
    }

    .owl-switch-bar:before {
      transform: translate3d(0, 30%, 0) scale3d(0, 0, 0);
    }
  }
}

.owl-switch-ripple {
  top: $handle-size/2 - $ripple-size/2;
  left: $handle-size/2 - $ripple-size/2;
  width: $ripple-size;
  height: $ripple-size;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

]]></code>
</pre>
                <!-- </editor-fold> -->
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="Source Panel"> -->
        <owl-tab label="Source">
            <div class="owlng-doc-tab-content">
                <a class="owlng-viewsource-btn" href="https://github.com/DanielYKPan/owl-ng" target="_blank">
                    <i class="fab fa-github" aria-hidden="true"></i> View on Github
                </a>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<div class="owlng-demo-row yk-g">
    <div class="yk-g-12 yk-md-4">
        <h5 class="demo-header">Basic</h5>
        <owl-switch class="demo-switch" [(ngModel)]="checked_1">{{checked_1}}</owl-switch>
    </div>

    <div class="yk-g-12 yk-md-4">
        <h5 class="demo-header">Disable Switch</h5>
        <owl-switch class="demo-switch" [(ngModel)]="disabled">{{disabled? 'disabled': 'enabled'}}</owl-switch>
        <owl-switch class="demo-switch" [(ngModel)]="checked_2" [disabled]="disabled">{{checked_2}}</owl-switch>
    </div>

    <div class="yk-g-12 yk-md-4">
        <h5 class="demo-header">Vertical Switch</h5>
        <owl-switch class="demo-switch" [(ngModel)]="checked_3" [vertical]="true">{{checked_3}}</owl-switch>
    </div>
</div>
]]></code>
</pre>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
export class MyComponent {
    public checked_1 = false;

    public disabled = false;

    public checked_2 = false;

    public checked_3 = false;
}
]]></code>
</pre>
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

    </owl-tab-view>
</section>
