<img class="game-center-banner" src="assets/images/games/center/game-center-logo.png">

<ul class="game-center-menu">
    <li class="game-menu-item" routerLink="./2048">
        <img class="game-menu-item-logo" src="assets/images/games/2048/logo-1.png">
        <span class="game-menu-item-text" [style.color]="'#f5b600'">2048</span>
    </li>
    <li class="game-menu-item" routerLink="./minesweeper">
        <img class="game-menu-item-logo" src="assets/images/games/minesweeper/bomb_green.png">
        <span class="game-menu-item-text" [style.color]="'#43d000'">Minesweeper</span>
    </li>
    <li class="game-menu-item" routerLink="./puzzle">
        <img class="game-menu-item-logo" src="assets/images/games/puzzle/puzzle-logo.png">
        <span class="game-menu-item-text" [style.color]="'#CC37FF'">Puzzle</span>
    </li>
    <li class="game-menu-item" routerLink="./memory">
        <img class="game-menu-item-logo" src="assets/images/games/memory/memory-logo.png">
        <span class="game-menu-item-text" [style.color]="'#D67096'">Memory</span>
    </li>
    <li class="game-menu-item" routerLink="./trivia">
        <img class="game-menu-item-logo" src="assets/images/games/trivia/quiz-logo.png">
        <span class="game-menu-item-text" [style.color]="'#ec6e1a'">Trivia Quiz</span>
    </li>
    <li class="game-menu-item" routerLink="./snake">
        <img class="game-menu-item-logo" src="assets/images/games/snake/snake.png">
        <span class="game-menu-item-text" [style.color]="'#277600'">Snake</span>
    </li>
</ul>

<a class="game-yk-home" routerLink="/home">
    <img src="./assets/images/yk-logo-banner.png">
</a>
