<div class="game-2048-score-bar-bums">
    <div class="game-2048-score-bar-bum-wrapper">
        <div class="game-2048-score-bar-bum">
            <span class="game-2048-score-increase"
                  *ngFor="let s of increasedScores"
                  [@increaseScores]="s.state"
                  (@increaseScores.done)="animationDone($event)">+ {{s.value}}</span>
            {{scores}}
        </div>
    </div>

    <div class="game-2048-score-bar-bum-wrapper">
        <div class="game-2048-score-bar-bum best">
            {{highest}}
        </div>
    </div>
</div>
<div class="game-2048-score-bar-content">
    <h4 class="game-2048-score-bar-label">Score</h4>
    <h4 class="game-2048-score-bar-label">best</h4>
</div>
