<div class="layout-wrapper"
     [ngClass]="{
        'side-panel-expanded': isSidePanelExpanded
     }">
    <app-top-bar (hamburgerClick)="changeSidePanelState()">
        <nav class="top-bar-nav">
            <a class="top-bar-nav-link" routerLink="home" routerLinkActive="active" owlRipple
               [owlRippleColor]="'rgba(255, 255, 255, .1)'">Home</a>
            <a class="top-bar-nav-link" routerLink="owlng/getting-start" routerLinkActive="active" owlRipple
               [owlRippleColor]="'rgba(255, 255, 255, .1)'">Owl NG</a>
            <a class="top-bar-nav-link" routerLink="game-center" routerLinkActive="active" owlRipple
               [owlRippleColor]="'rgba(255, 255, 255, .1)'">Game</a>
        </nav>
    </app-top-bar>

    <div class="layout-content-wrapper">
        <router-outlet></router-outlet>
    </div>

    <div class="layout-side-panel-backdrop" (click)="changeSidePanelState()"></div>
    <app-side-panel [@showSidePanelAnimation]="isSidePanelExpanded"></app-side-panel>
</div>

<app-route-process-bar></app-route-process-bar>
