@import url("https://fonts.googleapis.com/css?family=Bungee|Bungee+Outline");

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(216, 172, 123);
  font-family: "Bungee", cursive, sans-serif;
}

.game-2048-body {
  display: flex;
  flex: 1;
  position: relative;
}

.game-home-btn {
  position: fixed;
  bottom: 100px;
  right: 10%;
  z-index: 100;
}
