$panel-bg-color: rgba(96, 51, 9, 0.68);

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.game-2048-panel-wrapper {
  position: relative;
  width: 450px;
  height: 450px;
  padding: 12px;
  background: $panel-bg-color;
  border-radius: 1rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .game-2048-panel-wrapper {
    width: 320px;
    height: 320px;
  }
}
