<section class="owlng-content owlng-demo">
    <div class="owlng-demo-row">
        <h5 class="demo-header">Basic</h5>
        <p>Scroll down on this page and see the BackToTop button on the bottom-right corner.</p>
    </div>

    <div class="owlng-demo-row">
        <h5 class="demo-header">Scroll Back to Top of a Specific Element</h5>
        <p>Scroll down the below panel to see the BackToTop button for this panel.</p>
        <div class="owlng-backTop-docPanel">
            <owl-back-top [bindToElm]="docPanelContent1"
                          [ngStyle]="{
                        'position': 'absolute',
                        'right': '10px',
                        'bottom': '10px',
                        'background-color': 'red'
                      }"></owl-back-top>
            <div class="owlng-backTop-docPanelContent" #docPanelContent1>
                <!-- <editor-fold desc="dummy text"> -->
                <h3>Top is Here</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque beatae consequuntur dolorum
                    eius, eveniet inventore itaque laudantium magnam odit quis quos ratione rem, tempore ullam veniam
                    veritatis vero. Velit.
                </div>
                <div>Aspernatur cum cumque, dignissimos distinctio dolore facilis ipsa laborum similique tenetur. A
                    commodi
                    ex, inventore ipsum labore ratione sequi tempora vero. Aut beatae, deserunt explicabo mollitia natus
                    recusandae rerum unde?
                </div>
                <div>Ab, alias amet atque cupiditate dolor dolorem et ex illo inventore ipsum labore libero maiores
                    molestias nemo nihil nisi nobis perferendis quas quibusdam quis quisquam, saepe sit temporibus
                    voluptate, voluptatum.
                </div>
                <div>Atque explicabo pariatur porro. Est, eveniet, possimus! A assumenda facilis fuga in odio quod
                    repellat.
                    At consectetur debitis dolor ducimus eligendi, laboriosam laudantium modi non quae recusandae, saepe
                    temporibus veritatis.
                </div>
                <div>Ab accusantium ad commodi, corporis debitis eaque eius eos esse expedita fuga harum id iusto
                    molestiae
                    nam nesciunt odio possimus quae quidem quo repellat sint suscipit temporibus velit veniam
                    voluptatem.
                </div>
                <div>Accusamus aliquid consequuntur eaque ipsam minus necessitatibus nemo nobis pariatur repudiandae
                    sit. Ab
                    corporis distinctio fugit inventore ipsa libero numquam optio perspiciatis quia, quisquam quo rem
                    tempore? Culpa, eos, natus.
                </div>
                <div>Commodi distinctio iusto obcaecati quod velit. Accusantium commodi consequuntur corporis ea est
                    excepturi, explicabo harum iste nobis, officiis, omnis porro quidem quos? Dicta doloremque et
                    laboriosam
                    pariatur praesentium sit soluta.
                </div>
                <div>Fuga, itaque, sapiente? Accusantium debitis dolorem, doloribus non officiis veniam voluptas?
                    Accusamus
                    blanditiis consequuntur dolore, doloremque fugiat id iste magnam molestiae nemo pariatur porro quae
                    rem
                    saepe, veritatis voluptas voluptatibus.
                </div>
                <div>Cum debitis dignissimos distinctio ipsam iure non praesentium quibusdam repellat sed ut. Aperiam
                    blanditiis dignissimos doloribus explicabo labore laboriosam molestiae nobis, obcaecati quae soluta
                    suscipit temporibus! Dignissimos, illo similique? Recusandae.
                </div>
                <div>Blanditiis dicta et eveniet, ex excepturi facere illum, modi natus nesciunt optio placeat qui
                    quisquam
                    repellat reprehenderit suscipit vitae voluptates voluptatibus! Libero minima pariatur quidem
                    repellendus
                    totam ut vero voluptatibus?
                </div>
                <div>Ab delectus doloremque dolorum error exercitationem facere in ipsam laudantium, libero minima nulla
                    omnis placeat provident quis saepe similique tempora velit. Earum in labore numquam odio perferendis
                    quas rerum vel.
                </div>
                <div>Aperiam atque est molestias nisi quas quasi tempora. Accusantium asperiores delectus deserunt dolor
                    dolores doloribus earum fuga iusto laudantium, minus nam odio odit officia perferendis, placeat quod
                    unde vero vitae?
                </div>
                <div>Architecto dignissimos, dolorem doloremque fugiat ipsam iste laudantium libero obcaecati officia
                    praesentium, saepe suscipit! Architecto aspernatur blanditiis commodi delectus ea eveniet iusto
                    laudantium magnam nesciunt pariatur, quae, quas quisquam repellendus!
                </div>
                <div>Aliquam animi aperiam asperiores assumenda consequatur culpa delectus dignissimos dolor doloremque
                    dolores doloribus eius exercitationem facere illum, ipsa labore magni minus molestiae nesciunt non
                    quod
                    rem rerum similique voluptas voluptatibus.
                </div>
                <div>Alias, architecto consectetur delectus, inventore nihil nobis non pariatur quis ratione unde vel,
                    voluptatibus? Ad, dignissimos dolorum error harum ipsam minima nobis, odit officiis pariatur porro
                    similique sint totam veritatis?
                </div>
                <div>Ad architecto at consequatur doloribus earum est eum exercitationem expedita fuga ipsam, iure
                    magnam
                    modi nemo non nulla odit officia officiis optio quam sed sequi tempore temporibus unde voluptatibus
                    voluptatum.
                </div>
                <div>Adipisci dicta ipsa nostrum placeat recusandae. Cupiditate eum eveniet, impedit ipsam iure non odio
                    optio rem voluptatibus! Consectetur cupiditate, doloribus, nemo nisi omnis perferendis possimus
                    quasi
                    quibusdam quod rerum, soluta.
                </div>
                <div>Ipsum labore laboriosam provident quae. Accusamus cum debitis ducimus earum est excepturi fugit
                    maxime
                    nam, nesciunt voluptatem! Accusantium beatae corporis culpa cumque laboriosam laborum maiores,
                    maxime
                    optio perferendis ullam, veniam!
                </div>
                <div>Aperiam autem ea eos, esse illum itaque maiores quod saepe sequi voluptatem. Ab adipisci esse
                    officia
                    perspiciatis repudiandae veniam? Consequatur culpa eius fuga illo impedit officia quis temporibus
                    veniam, veritatis?
                </div>
                <div>Aspernatur consectetur dolores error exercitationem fuga harum in iste, laborum libero magni
                    mollitia,
                    nobis non obcaecati quae sed similique soluta tenetur velit veritatis voluptatem. Ipsum iste magnam
                    veritatis voluptas voluptatem?
                </div>
                <!-- </editor-fold> -->
            </div>
        </div>
    </div>

    <div class="owlng-demo-row">
        <h5 class="demo-header">Customise button inner content</h5>
        <p>Scroll down the below panel to see the BackToTop button for this panel.</p>
        <div class="owlng-backTop-docPanel">
            <owl-back-top [bindToElm]="docPanelContent2"
                          [ngStyle]="{
                        'position': 'absolute',
                        'right': '10px',
                        'bottom': '10px',
                        'background-color': 'red'
                      }">
                <owl-back-top-content>
                    <i class="fas fa-rocket"></i>
                </owl-back-top-content>
            </owl-back-top>
            <div class="owlng-backTop-docPanelContent" #docPanelContent2>
                <!-- <editor-fold desc="dummy text"> -->
                <h3>Top is Here</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque beatae consequuntur dolorum
                    eius, eveniet inventore itaque laudantium magnam odit quis quos ratione rem, tempore ullam veniam
                    veritatis vero. Velit.
                </div>
                <div>Aspernatur cum cumque, dignissimos distinctio dolore facilis ipsa laborum similique tenetur. A
                    commodi
                    ex, inventore ipsum labore ratione sequi tempora vero. Aut beatae, deserunt explicabo mollitia natus
                    recusandae rerum unde?
                </div>
                <div>Ab, alias amet atque cupiditate dolor dolorem et ex illo inventore ipsum labore libero maiores
                    molestias nemo nihil nisi nobis perferendis quas quibusdam quis quisquam, saepe sit temporibus
                    voluptate, voluptatum.
                </div>
                <div>Atque explicabo pariatur porro. Est, eveniet, possimus! A assumenda facilis fuga in odio quod
                    repellat.
                    At consectetur debitis dolor ducimus eligendi, laboriosam laudantium modi non quae recusandae, saepe
                    temporibus veritatis.
                </div>
                <div>Ab accusantium ad commodi, corporis debitis eaque eius eos esse expedita fuga harum id iusto
                    molestiae
                    nam nesciunt odio possimus quae quidem quo repellat sint suscipit temporibus velit veniam
                    voluptatem.
                </div>
                <div>Accusamus aliquid consequuntur eaque ipsam minus necessitatibus nemo nobis pariatur repudiandae
                    sit. Ab
                    corporis distinctio fugit inventore ipsa libero numquam optio perspiciatis quia, quisquam quo rem
                    tempore? Culpa, eos, natus.
                </div>
                <div>Commodi distinctio iusto obcaecati quod velit. Accusantium commodi consequuntur corporis ea est
                    excepturi, explicabo harum iste nobis, officiis, omnis porro quidem quos? Dicta doloremque et
                    laboriosam
                    pariatur praesentium sit soluta.
                </div>
                <div>Fuga, itaque, sapiente? Accusantium debitis dolorem, doloribus non officiis veniam voluptas?
                    Accusamus
                    blanditiis consequuntur dolore, doloremque fugiat id iste magnam molestiae nemo pariatur porro quae
                    rem
                    saepe, veritatis voluptas voluptatibus.
                </div>
                <div>Cum debitis dignissimos distinctio ipsam iure non praesentium quibusdam repellat sed ut. Aperiam
                    blanditiis dignissimos doloribus explicabo labore laboriosam molestiae nobis, obcaecati quae soluta
                    suscipit temporibus! Dignissimos, illo similique? Recusandae.
                </div>
                <div>Blanditiis dicta et eveniet, ex excepturi facere illum, modi natus nesciunt optio placeat qui
                    quisquam
                    repellat reprehenderit suscipit vitae voluptates voluptatibus! Libero minima pariatur quidem
                    repellendus
                    totam ut vero voluptatibus?
                </div>
                <div>Ab delectus doloremque dolorum error exercitationem facere in ipsam laudantium, libero minima nulla
                    omnis placeat provident quis saepe similique tempora velit. Earum in labore numquam odio perferendis
                    quas rerum vel.
                </div>
                <div>Aperiam atque est molestias nisi quas quasi tempora. Accusantium asperiores delectus deserunt dolor
                    dolores doloribus earum fuga iusto laudantium, minus nam odio odit officia perferendis, placeat quod
                    unde vero vitae?
                </div>
                <div>Architecto dignissimos, dolorem doloremque fugiat ipsam iste laudantium libero obcaecati officia
                    praesentium, saepe suscipit! Architecto aspernatur blanditiis commodi delectus ea eveniet iusto
                    laudantium magnam nesciunt pariatur, quae, quas quisquam repellendus!
                </div>
                <div>Aliquam animi aperiam asperiores assumenda consequatur culpa delectus dignissimos dolor doloremque
                    dolores doloribus eius exercitationem facere illum, ipsa labore magni minus molestiae nesciunt non
                    quod
                    rem rerum similique voluptas voluptatibus.
                </div>
                <div>Alias, architecto consectetur delectus, inventore nihil nobis non pariatur quis ratione unde vel,
                    voluptatibus? Ad, dignissimos dolorum error harum ipsam minima nobis, odit officiis pariatur porro
                    similique sint totam veritatis?
                </div>
                <div>Ad architecto at consequatur doloribus earum est eum exercitationem expedita fuga ipsam, iure
                    magnam
                    modi nemo non nulla odit officia officiis optio quam sed sequi tempore temporibus unde voluptatibus
                    voluptatum.
                </div>
                <div>Adipisci dicta ipsa nostrum placeat recusandae. Cupiditate eum eveniet, impedit ipsam iure non odio
                    optio rem voluptatibus! Consectetur cupiditate, doloribus, nemo nisi omnis perferendis possimus
                    quasi
                    quibusdam quod rerum, soluta.
                </div>
                <div>Ipsum labore laboriosam provident quae. Accusamus cum debitis ducimus earum est excepturi fugit
                    maxime
                    nam, nesciunt voluptatem! Accusantium beatae corporis culpa cumque laboriosam laborum maiores,
                    maxime
                    optio perferendis ullam, veniam!
                </div>
                <div>Aperiam autem ea eos, esse illum itaque maiores quod saepe sequi voluptatem. Ab adipisci esse
                    officia
                    perspiciatis repudiandae veniam? Consequatur culpa eius fuga illo impedit officia quis temporibus
                    veniam, veritatis?
                </div>
                <div>Aspernatur consectetur dolores error exercitationem fuga harum in iste, laborum libero magni
                    mollitia,
                    nobis non obcaecati quae sed similique soluta tenetur velit veritatis voluptatem. Ipsum iste magnam
                    veritatis voluptas voluptatem?
                </div>
                <!-- </editor-fold> -->
            </div>
        </div>
    </div>
</section>

<section class="owlng-content owlng-doc">
    <owl-tab-view class="owlng-doc-tab-view">
        <!-- <editor-fold desc="Documentation Panel"> -->
        <owl-tab label="Documentation">
            <div class="owlng-doc-tab-content">
                <!-- <editor-fold desc="Description"> -->
                <h3 id="description" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#description">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Description
                </h3>
                <p>
                    Angular BackToTop button is a Angular button component to allow you instantly scroll back to top. It
                    is customisable and animated.
                </p>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Import"> -->
                <h3 id="import" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#import">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Import
                </h3>
                <pre>
<code class="language-typescript" ngNonBindable appCodeHighlight><![CDATA[
import { OwlBackTopBtnModule } from 'owl-ng';
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Getting Start"> -->
                <h3 id="getting-start" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#getting-start">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Getting Start
                </h3>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-back-top></owl-back-top>
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Bing To Element"> -->
                <h3 id="bind-to-element" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#bind-to-element">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Bind to Specific Element
                </h3>
                <p>
                    By default, the BackToTop button would scroll back to top of the window. To customise this, set
                    property <b class="owlng-doc-code-tag">[bindToElm]</b> to the HTML element you wish to scroll back
                    to its top.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<div class="doc-panel" [ngStyle]="{'position': 'relative'}">
    <owl-back-top [bindToElm]="docContent"
                  [style]="{
                    'position': 'absolute',
                    'right': '10px',
                    'bottom': '10px'
                  }"></owl-back-top>
    <div class="doc-panelContent" #docContent>
        Content Here
    </div>
</div>
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Customise"> -->
                <h3 id="customise" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#customise">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Customise Button
                </h3>
                <p>
                    By default, the BackToTop has a arrow-up icon inside. To customise this, provide any html content
                    within <b class="owlng-doc-code-tag">owl-back-top-content</b> and put them inside
                    <b class="owlng-doc-code-tag">owl-back-top</b>.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-back-top>
    <owl-back-top-content>
        <i class="fas fa-rocket"></i>
    </owl-back-top-content>
</owl-back-top>
]]></code>
</pre>
                <P>
                    The BackToTop button would appear when scrollY distance is 200px by default. User can override
                    property <b class="owlng-doc-code-tag">[showOnDistance]</b> to number value. If it is set to 0, the
                    BackToTop button would always show on the page.
                </P>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-back-top [showOnDistance]="350">
</owl-back-top>
]]></code>
</pre>

                <p>
                    By default, the BackToTop has a fix position on the bottom-right corner of the page. To customise
                    this, provide a desirable position setting through <b class="owlng-doc-code-tag">[ngStyle]</b> on
                    <b class="owlng-doc-code-tag">owl-back-top</b>.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<div class="doc-panel" [ngStyle]="{'position': 'relative'}">
    <owl-back-top
            [ngStyle]="{
                'position': 'absolute',
                'right': '10px',
                'bottom': '10px'}"></owl-back-top>
</div>
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Animation"> -->
                <h3 id="animation" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#animation">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Animation
                </h3>
                <p>
                    By default, animation is applied when scrolling back to top. Set property
                    <b class="owlng-doc-code-tag">[speed]</b> in order to slow down or speed up the scroll speed. The
                    default speed is 80 which means it would scroll 80px in 15ms. If you want the scrolling more
                    dramatic, set property <b class="owlng-doc-code-tag">[acceleration]</b>to a number value. This is a
                    coefficient and it would increase or decrease the speed value in every 15ms.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-back-top [speed]="120" [acceleration]="50"></owl-back-top>
]]></code>
</pre>
                <p>
                    In addition, set property <b class="owlng-doc-code-tag">[animate]</b> to false to disable the
                    animation, this would let you scroll back to top instantly once you click the button.
                </p>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<owl-back-top [animate]="false"></owl-back-top>
]]></code>
</pre>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Dependencies"> -->
                <h3 id="dependencies" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#dependencies">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Dependencies
                </h3>
                <p>None</p>
                <!-- </editor-fold> -->
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="API Panel"> -->
        <owl-tab label="API">
            <div class="owlng-doc-tab-content">
                <!-- <editor-fold desc="Properties"> -->
                <h3 id="properties" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#properties">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Properties of owl-back-top
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Optional</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>aria-label</code></td>
                            <td align="left">string</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>"Scroll Back to Top"</code></td>
                            <td align="left">
                                Used to set the 'aria-label' attribute for a meaningful label.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>acceleration</code></td>
                            <td align="left">number</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>0</code></td>
                            <td align="left">
                                Acceleration coefficient, added to speed when using animated scroll
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>animate</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>true</code></td>
                            <td align="left">
                                When specified to false, the scrolling process would NOT be animated.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>bindToElm</code></td>
                            <td align="left">HTMLElement</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>null</code></td>
                            <td align="left">
                                A specific HTML element that user intend to scroll back to its top.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>disabled</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                When specified to true, the BackToTop button would be disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>rippleEffectDisabled</code></td>
                            <td align="left">boolean</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>false</code></td>
                            <td align="left">
                                When specified to true, the ripple effect on the button would be disabled.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>showOnDistance</code></td>
                            <td align="left">number</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>200</code></td>
                            <td align="left">
                                The BackToTop button would appear on the page when scrollY is on this distance.
                                If it is set to 0, the button would always appear on the page.
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><code>speed</code></td>
                            <td align="left">number</td>
                            <td align="left">Optional</td>
                            <td align="left"><code>80</code></td>
                            <td align="left">
                                The speed of the scrolling process.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Events"> -->
                <h3 id="events" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#events">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Events of owl-back-top
                </h3>
                <div class="owlng-doc-table-wrapper">
                    <table class="owlng-doc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left"><code>reachTop</code></td>
                            <td align="left">
                                null
                            </td>
                            <td align="left">
                                Emits when scroll to top process is done.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- </editor-fold> -->

                <!-- <editor-fold desc="Style"> -->
                <h3 id="style" class="owlng-doc-header">
                    <a class="owlng-doc-header-link" href="owlng/back-top#style">
                        <i class="icon fas fa-link" aria-hidden="true"></i>
                    </a>
                    Styles (scss format) of owl-back-top
                </h3>
                <pre>
<code class="language-css" ngNonBindable appCodeHighlight><![CDATA[
$btn-color: #ffffff;
$btn-bg-color: #7e57c2;
$btn-bg-color-focused: #673ab7;

.owl-back-top,
.owl-back-top * {
  box-sizing: border-box;
}

.owl-back-top {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  text-align: center;
  outline: none;
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 9999;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  background: $btn-bg-color;
  color: $btn-color;
  cursor: pointer;
  transition: background-color 400ms cubic-bezier(.25, .8, .25, 1);

  &[aria-disabled=true] {
    opacity: 0.35;
    filter: Alpha(Opacity=35);
    background-image: none;
    cursor: default !important;
    pointer-events: none;
  }

  &:not([aria-disabled=true]):hover,
  &:not([aria-disabled=true]):focus {
    background: $btn-bg-color-focused;
  }
}

.owl-back-top-icon {
  width: .8em;
  height: .8em;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

.owl-back-top-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  outline: none;
  border-radius: inherit;
}
]]></code>
</pre>
                <!-- </editor-fold> -->
            </div>
        </owl-tab>
        <!-- </editor-fold> -->

        <!-- <editor-fold desc="Source Panel"> -->
        <owl-tab label="Source">
            <div class="owlng-doc-tab-content">
                <a class="owlng-viewsource-btn" href="https://github.com/DanielYKPan/owl-ng" target="_blank">
                    <i class="fab fa-github" aria-hidden="true"></i> View on Github
                </a>
                <pre>
<code class="language-markup" ngNonBindable appCodeHighlight><![CDATA[
<div class="owlng-demo-row">
    <h5 class="demo-header">Scroll Back to Top of a Specific Element</h5>
    <p>Scroll down the below panel to see the BackToTop button for this panel.</p>
    <div class="owlng-backTop-docPanel">
        <owl-back-top [bindToElm]="docPanelContent1"
                      [ngStyle]="{
                    'position': 'absolute',
                    'right': '10px',
                    'bottom': '10px',
                    'background-color': 'red'
                  }"></owl-back-top>
        <div class="owlng-backTop-docPanelContent" #docPanelContent1>
            dummy text here
        </div>
    </div>
</div>

<div class="owlng-demo-row">
    <h5 class="demo-header">Customise button inner content</h5>
    <p>Scroll down the below panel to see the BackToTop button for this panel.</p>
    <div class="owlng-backTop-docPanel">
        <owl-back-top [bindToElm]="docPanelContent2"
                      [ngStyle]="{
                    'position': 'absolute',
                    'right': '10px',
                    'bottom': '10px',
                    'background-color': 'red'
                  }">
            <owl-back-top-content>
                <i class="fas fa-rocket"></i>
            </owl-back-top-content>
        </owl-back-top>
        <div class="owlng-backTop-docPanelContent" #docPanelContent2>
            dummy text here
        </div>
    </div>
</div>
]]></code>
</pre>
            </div>
        </owl-tab>
        <!-- </editor-fold> -->
    </owl-tab-view>
</section>
