:host {
  display: block;
  width: 100%;
}

.game-karaoke-player-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .9);
  width: 100%;
}

.game-karaoke-player-inform {
  padding-right: 1rem;
}

.game-karaoke-player-title,
.game-karaoke-player-artist {
  display: block;
}

.game-karaoke-player-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.game-karaoke-player-artist {
  color: #5AA8CD;
  font-size: 1rem;
}

.game-karaoke-player-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background: rgba(245, 245, 245, 0.15);
  padding: 1rem;
  box-sizing: border-box;
}

.game-karaoke-player-control {
  display: flex;
  background-color: rgba(60, 102, 176, 0.43);
  padding: 1.75rem;
  box-sizing: border-box;
}
