<div class="game-karaoke-player-header">
    <div class="game-karaoke-player-inform">
        <span class="game-karaoke-player-title">
            {{song.title}}
        </span>
        <span class="game-karaoke-player-artist">
            {{song.artist}}
        </span>
    </div>
    <div class="game-karaoke-player-points">
        <small>Points:</small>
        <strong>0</strong>
    </div>
</div>
<div class="game-karaoke-player-screen">
    <app-game-karaoke-song-lyrics
            [src]="song.lyrics"
            [delay]="song.lyricDelay"
            [currentTime]="currentTime"></app-game-karaoke-song-lyrics>
</div>
<div class="game-karaoke-player-control">
    <app-game-karaoke-song-audio
            [src]="song.audio"
            (playPause)="playPauseAudio($event)"
            (updateTime)="updateAudioTime($event)" ></app-game-karaoke-song-audio>
</div>