<ul class="skill-list">
  <li class="skill-list-item">3+ years AngularJS, Angular (2, 4, 5, 6) and Angular CLI experiences.</li>
  <li class="skill-list-item">Comfortable in wring Angular tests</li>
  <li class="skill-list-item">Comfortable in writing any Typescript / Javascript ES6 codes</li>
  <li class="skill-list-item">Experience developing SPAs (Single Page Applications)</li>
  <li class="skill-list-item">Excellent skills using IDEs such as JetBrains, Visual Studio Code, Sublime
    etc
  </li>
  <li class="skill-list-item">Responsive Web Development</li>
  <li class="skill-list-item">1+ years Hybrid App Development using Ionic</li>
  <li class="skill-list-item">Strong knowledge of package managers (NPM, composer), build tools (Gulp,
    Grunt, Webpack or NPM scripts) and linting (ESLint, PHPCS, StyleLint)
  </li>
  <li class="skill-list-item">Comfortable in writing any HTML5 syntax, CSS3 and using any Javascript
    Libraries
  </li>
  <li class="skill-list-item">Experience with C# ASP.NET ASP MVC etc.</li>
</ul>
